@page "/notfound.html"
@page "/notfound"
@namespace Lokman.Client.Pages
@inject NavigationManager _navManager

<div class="flex flex-col flex-1 justify-center">
    <div class="bg-red-300"></div>
    <div class="flex flex-1 flex-col justify-center text-center mx-auto">
        <div class="text-5xl font-heading font-bold">Error 404</div>
        <p class="text-gray-500 font-semibold">Page not found</p>
    </div>
    <div></div>
</div>

